.DS_Store

# Ignore folders
Output/
.ipynb_checkpoints
__pycache__/
__pycache__
rsnaped.egg-info
DataSets/
DataBases/
.vscode
LargeDataSets/
*egg-info
dist/
build/
Figures/

# rSNAPsim_IP/temp
temp/
FISH_ONeil/
testing_simulated_cell/
testing*
.vscode
tests/
TODO.md
out.*
temp*
output.txt